.NoInvoices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
    text-align: center;
    gap: 3rem;
}

.NoInvoices img {
    height: auto;
    width: 190px;
}

.NoInvoices h2 {
    font-size: var(--font-size-medium);
}

.NoInvoices .instruction span {
    font-weight: bold;
}

.NoInvoices .instruction>* {
    color: var(--grayish-lavender)
}



