.Layout {
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.Layout main {
    border: 5px solid red;
    flex: 1;

}

.Layout .spacer {
    display: none;
}