.EditInvoice {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    
}

.EditInvoice .edit-invoice-head,
.bill-from-container,
.bill-to-container,
h3,
.items-container {
    padding: 0rem 2rem;
    margin-top: 2rem;
}

.EditInvoice .headline {
    color: var(--purple);
    font-weight: 600;
}

.EditInvoice .bill-from-container,
.detailed-address,
.bill-to-container,
.invoice-date-container,
.last-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.EditInvoice .new-invoice-head {
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    gap: 0.2rem;
    padding-left: 2rem;

}

.EditInvoice label {
    display: flex;
    flex-direction: column;
    color: var(--grayish-lavender);
    gap: 0.5rem;
}

.EditInvoice label input,
select {
    border: none;
    border: 0.1px solid var(--grayish-lavender);
    opacity: 0.2;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
}

.EditInvoice .city-and-post-container {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.EditInvoice .city-country-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.EditInvoice .items-container input {
    width: 100%;
}

.EditInvoice .item-row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.EditInvoice .save-btn:hover {
    cursor: pointer;
    background:var(--light-blue);
    color: var(--grayish-lavender)
}

.EditInvoice .lower-item-info {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;

    align-items: center;
}

.EditInvoice .quantity-input-container {
    flex: 1;
}

.EditInvoice .Price-input-container {
    flex: 2;
}

.EditInvoice .item-header {
    color: var(--grayish-lavender);
    margin-top: 5rem;
}

.EditInvoice .header-row>p,
.mobile-header-input {
    color: var(--grayish-lavender);
}

.EditInvoice .inputs-container .bin-btn:hover {
    cursor: pointer;
}

.EditInvoice .item-row .item-container>input,
.item-total {
    padding: 15px;
    border: 1px solid #e0e0e0;
    text-transform: capitalize;
    font-weight: 600;
}

.EditInvoice .item-container .item-row .inputs-container .item-total {
    border: none;
    border: 2px solid red;
}

.EditInvoice .item-total {
    border: none;
}

.EditInvoice .inputs-container {
    margin-bottom: 1rem;
    align-items: flex-end;
}



.EditInvoice input[type="number"] {
    -moz-appearance: textfield;
}

.EditInvoice .items-container input {
    border-radius: 5px;
}

.EditInvoice .space-filler {
    visibility: hidden;
}



.EditInvoice .item-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.EditInvoice .add-new-item-btn {
    background: none;
    border: none;
    background: var(--very-light-grey);
    padding: 1.5rem;
    border-radius: 25px;
    font-weight: 600;
    color: var(--grayish-blue);
    width: 100%;
    margin-top: 5rem;
}

.EditInvoice .add-new-item-btn:hover {
    cursor: pointer;
}

.EditInvoice .new-buttons-container {
    display: flex;
    gap: 1rem;
    margin-top: 6rem;
}



.EditInvoice .new-buttons-container>* {
    border: none;
    border-radius: 50px;
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;

}

.EditInvoice .draft-btn {
    color: var(--grayish-lavender);
    background: var(--dark-grayish-blue);
}

.EditInvoice .save-btn {
    background: var(--purple);
    color: white;
}

.EditInvoice .new-buttons-container {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0rem;
    width: 100%;
    box-shadow: 0 20px 50px -2px rgba(0, 0, 0, 0.3);
    padding: 2rem 2rem;
}

.EditInvoice .discard-btn {
    color: var(--grayish-blue);
}


.EditInvoice .header-row {
    display: none;
}

.EditInvoice label>p {
    color: red;
}

/* RESPONSIVE */

@media (min-width: 700px) {

    .EditInvoice .item-row {
        display: flex;
        flex-direction: column;
    }

    .EditInvoice .mobile-header-input {
        display: none;
    }

    .EditInvoice .item-total {
        display: block;
    }



    .EditInvoice .more-headers {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr;
    }

    .EditInvoice .items-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: stretch;
        padding-bottom: 5rem;
    }

    .EditInvoice .inputs-container .lower-item-info,
    .more-headers {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr;
        gap: 1rem;
    }

    .EditInvoice .inputs-container,
    .EditInvoice .header-row {
        display: grid;
        grid-template-columns: 0.45fr 1fr;
        gap: 2rem;
    }

    .EditInvoice .space-filler {
        display: none;
    }

    .EditInvoice .single-item {
        display: grid;
        grid-template-columns: 0.45fr 1fr;
        grid-template-rows: 50px;
        gap: 2rem;
        border: none;
    }

    .EditInvoice .second-part {
        display: grid;
        grid-template-columns: 0.3fr 0.6fr 0.2fr 1fr;
        gap: 1rem;
        align-items: center;
    }

    .EditInvoice .single-item input {
        border: 1px solid var(--light-blue);
        padding-left: 2rem;
        font-weight: 700;
        text-transform: capitalize;
        align-self: stretch;
    }

    .EditInvoice .single-item .total {
        border: none;
    }

    .EditInvoice .more-headers {
        color: var(--grayish-lavender);
    }

    .EditInvoice .trash-icon {
        color: var(--grayish-blue)
    }

    .EditInvoice .trash-icon:hover {
        cursor: pointer;
    }


}