.Invoice {
    background: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 30px);
    align-items: center;
    gap: 0.5rem;
    padding: 2rem;
    border-radius: 1rem;
}

.Invoice .invoice-id span,
.Invoice .date-created,
.Invoice .customer-name {
    color: var(--grayish-lavender)
}

.Invoice .invoice-id {
    font-weight: bold;

}

.Invoice .date-created {
    grid-column: 1/1;
    grid-row: 2/3;
    align-self: flex-end;
}

.Invoice .invoice-price {
    grid-column: 1/1;
    grid-row: 3/4;
    align-self: flex-start;
    margin-top: 0.5rem;
}

.Invoice .status {
    grid-column: 2/3;
    grid-row: 2/4;
    justify-self: flex-end
}

.Invoice .customer-name {
    justify-self: flex-end
}

.Invoice .invoice-price {
    font-weight: bold;
}

.Invoice .right-chevron {
    display: none;
}

.Invoice .invoice-basic-info {
    display: flex;
    justify-content: space-between;
}

.Invoice .payment-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Invoice .status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    border-radius: 5px;
    gap: 1rem;
    padding: 1.3rem 2rem;
    background-color: #F3FDFA;
    color: #33D69F;
    font-weight: bold;
}

@media (min-width: 577px) {

    .Invoice {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: var(--font-size-small)
    }

    .Invoice .right-chevron {
        display: block;
    }

    .Invoice .status {
        width: fit-content;
    }

    .Invoice .invoice-price {
        align-self: center;
        margin-top: 0rem;
    }

    .Invoice .date-created {
        align-self: center;
    }


}